.kartochka-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 8px;
}

.kartochka-container:hover {
    cursor: pointer;
}

.kartochka-container .kartochka-img {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
    line-height: 0;
    font-size: 0;
}
